<h1>ACTIVITIES</h1>
<div class="row">
    <div class="col-sm-4 class-xs-12">
        <h2>Crate new activity</h2>
        <form>
            <div class="form-group">
                <label for="input_name">Activity name:</label>
                <input type="text" class="form-control" id="input_name" placeholder="Activity name" ng-model="models.activity.form_create.name">
            </div>

            <label>Properties:</label>

            <div ng-repeat="property in models.activity.properties" class="row form-group">
                <div class="col-xs-5">
                    <input type="text" class="form-control" placeholder="Property name" ng-model="property.name">
                </div>
                <div class="col-xs-5">
                    <select class="form-control" ng-model="property.type">
                        <option ng-repeat="opt in models.activity.types" value="{{opt}}">{{opt}}</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-danger pull-right" href="#" onclick="return false;" ng-click="removeProperty(property.name)"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-5">
                    <input type="text" class="form-control" placeholder="Property name" ng-model="models.activity.form_create.p_name">
                </div>
                <div class="col-xs-5">
                    <select class="form-control" ng-model="models.activity.form_create.p_type">
                        <option ng-repeat="opt in models.activity.types" value="{{opt}}">{{opt}}</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-success pull-right" href="#" onclick="return false;" ng-click="addProperty()"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>

            <button type="submit" class="btn btn-lg btn-primary pull-right">Submit</button>
        </form>
    </div>

    <div class="col-sm-8 class-xs-12">
        <h2>Activities list</h2>
    </div>
</div>